<div class="container-fluid">
  <div class="col-md-2">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>id</th>
        <th>nombre</th>
        <th>audiencia</th>
        <th>fechalanzamiento</th>
        <th>descripcion</th>
        <th>proposito</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let website of websites">
        <td>{{website.id}}</td>
        <td>{{website.nombre}}</td>
        <td>{{website.audienciaesperada}}</td>
        <td>{{website.fechaLanzamiento}}</td>
        <td>{{website.descripcion}}</td>
        <td>{{website.proposito}}</td>
      </tr>
      </tbody>
    </table>
  </div>

