.masonry-with-columns{
    display: flex;
    flex-wrap: wrap;
}
.ACTIVO{
    background: #4b802a;
}
.INACTIVO{
    background: #d1c42f;
}
.ENFALLA{
    background: #801e19;
}
*:focus{
    outline: none;
    border: 0;
}