<ng-container *ngIf="adminId != 0; else elseTemplate">
    <button [routerLink]="[ '/admins/list', adminId ]">Volver</button>
</ng-container>
<ng-template #elseTemplate>
    <button routerLink="/dependencies/list">Volver</button>
</ng-template>
<div style="width: 25%; margin: 0 auto;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id: {{depDetail.id}}</th>
      </tr>
      <tr>
        <th scope="col">Nombre: {{depDetail.nombreDependencia}}</th>
      </tr>
      <tr>
        <th scope="col">Telefono: {{depDetail.telefono}}</th>
      </tr>
      <tr>
        <th scope="col">Correo electrónico: {{depDetail.email}}</th>
      </tr>
    </thead>
    <div>
      <div *ngxPermissionsExcept="['GUEST', 'CLIENT']">
        <button mat-button (click)="expandir()">Actualizar informacion</button>
      </div>
      <div *ngIf="expande">
        <app-dependencies-edit></app-dependencies-edit>
      </div>
    </div>
  </table>
</div>
<router-outlet></router-outlet>