<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <h2 class="text-center">Add a new admin</h2>
            <br>
            <form name="admin" (ngSubmit)="f.form.valid && createAdmin()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="adminName"><b>Nombre</b></label>
                    <input type="text" name="adminName" class="form-control" id="adminName" [(ngModel)]="admin.nombre"
                        #bookName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminName.invalid }" required>
                    <div class="invalid-feedback">
                        <div>The admin's name is missing</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="adminEmail"><b>Correo electronico</b></label>
                    <input type="text" name="adminEmail" class="form-control" id="adminEmail" [(ngModel)]="admin.email"
                        #bookName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminEmail.invalid }" required>
                    <div class="invalid-feedback">
                        <div>The admin's email is missing</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="adminPassword"><b>Contraseña</b></label>
                    <input type="text" name="adminPassword" class="form-control" id="adminPassword" [(ngModel)]="admin.password"
                        #bookISBN="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminPassword.invalid }" required>
                    <div class="invalid-feedback">
                        <div>The book's password is missing</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="adminTelefono"><b>Telefono</b></label>
                    <input type="text" name="adminTelefono" class="form-control" id="adminTelefono" [(ngModel)]="admini.telefono"
                        #bookImage="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminTelefono.invalid }" required>
                    <div class="invalid-feedback">
                        <div>The book's phone is missing</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombreCargo"><b>Nombre cargo</b></label>
                    <select class="custom-select" name="nombreCargo" id="nombreCargo" [(ngModel)]="admin.nombreCargo"
                        #bookEditorial="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nombreCargo.invalid }"
                        required>
                        <option [value]="nombreCargo" *ngFor="let nombreCargo of nombresCargo">{{nombreCargo}}</option>
                    </select>
                    <div class="invalid-feedback">
                        <div>The book's editorial is missing</div>
                    </div>
                </div>
                <br>
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
<br>
<br>