<mat-toolbar class="app-toolbar" color="primary" role="heading">
    <mat-toolbar-row>
    <img src="../assets/logo.png" height="64" width="64"/>
    CMSites
        <button mat-button data-toggle="modal" data-target="#UserListModal">Usuarios</button>
    <span class="toolbar-spacer"></span>
    <div *ngxPermissionsOnly="['GUEST']">
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="showLoginPane()" >Login</button>
            <button mat-menu-item (click)="showRegisterPane()" >Register</button>
        </mat-menu>

        <button mat-flat-button color="primary"  [matMenuTriggerFor]="appMenu">Ingresar
            <mat-icon>
                face
            </mat-icon>
        </button>
    </div>
        <div *ngxPermissionsExcept="['GUEST']">
            <mat-chip id="welcomeMesage">Welcome:  {{name}}</mat-chip>
        </div>
    </mat-toolbar-row>
</mat-toolbar>



<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over">
        <app-estados-web-list #historial ></app-estados-web-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-website-list (sitioDetail)="detalle.getDetails($event);showSiteDetail()"  (consultaEstados)="sidenav.toggle();historial.getEstadosWeb($event)"></app-website-list>
    </mat-sidenav-content>
</mat-sidenav-container>

<div id = "footer">
<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 1%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" id="activo">Activo</div>
    <div class="progress-bar bg-warning" role="progressbar" style="width: 1%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" id="incativo">Inactivo</div>
    <div class="progress-bar bg-danger" role="progressbar" style="width: 1%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" id="falla" >Falla</div>
    <div class="progress-bar bg-info" role="progressbar" style="width: 1%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" id="otros">Otros</div>
   </div>
</div>

<div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-hidden="true" #DetailModal>
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <app-website-details  #detalle></app-website-details>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-hidden="true" #LoginModal>
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <app-auth-login id="loginComponent" #loginComponent></app-auth-login>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-hidden="true" #RegisterModal>
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
            <app-auth-sign-up id="registercomponent" #authSignUpComponent></app-auth-sign-up>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UserListModal" tabindex="-1" role="dialog" aria-hidden="true" #UserListModal>
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">¿
                <app-users-list id="userListComponent" #userListComponent></app-users-list>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>