<mat-toolbar class="mat-elevation-z6" color="primary" role="heading" >
    <mat-toolbar-row>
    <img src="../assets/logo.png" height="64" width="64"/>
    CMSites
        <button mat-button (click)="selectTab(0)" >Usuarios</button>
        <button mat-button (click)="selectTab(1)" >Sitios</button>
    <span class="toolbar-spacer"></span>
    <div *ngxPermissionsOnly="['GUEST']">
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="showLoginPane()" >Login</button>
            <button mat-menu-item (click)="showRegisterPane()" >Register</button>
        </mat-menu>

        <button mat-flat-button color="primary"  [matMenuTriggerFor]="appMenu">Ingresar
            <mat-icon>
                face
            </mat-icon>
        </button>
    </div>
        <div *ngxPermissionsExcept="['GUEST']">
            <mat-chip id="welcomeMesage">Welcome:  {{name}}</mat-chip>
        </div>
    </mat-toolbar-row>
</mat-toolbar>




<mat-tab-group id #mtg class="header-less-tabs"[selectedIndex]="selectedIndex" >
    <mat-tab label="Usuarios">
        <app-users-list id="userListComponent" #userListComponent></app-users-list>
    </mat-tab>
    <mat-tab label="SitiosWeb">
        <mat-sidenav-container class="example-container" (backdropClick)="historial.kill()" >
            <mat-sidenav #sidenav mode="over" style="width: 50%" (keydown.escape)="historial.kill()" >
                <app-estados-web-list #historial ></app-estados-web-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <app-website-list (sitioDetail)="detalle.setSite($event);selectTab(2)" (agregarEstado)="showCreateEstadoModal()" (consultaEstados)="sidenav.toggle();historial.getEstadosWeb($event)"></app-website-list>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </mat-tab>
    <mat-tab label="Usuarios">
        <app-website-details  #detalle ></app-website-details>
    </mat-tab>
</mat-tab-group>




<div id = "footer">
<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 1%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" id="activo">Activo</div>
    <div class="progress-bar bg-warning" role="progressbar" style="width: 1%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" id="incativo">Inactivo</div>
    <div class="progress-bar bg-danger" role="progressbar" style="width: 1%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" id="falla" >Falla</div>
    <div class="progress-bar bg-info" role="progressbar" style="width: 1%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" id="otros">Otros</div>
   </div>
</div>



<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-hidden="true" #LoginModal>
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <app-auth-login id="loginComponent" #loginComponent></app-auth-login>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-hidden="true" #RegisterModal>
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
            <app-auth-sign-up id="registercomponent" #authSignUpComponent></app-auth-sign-up>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createEstadoWebModal" tabindex="-1" role="dialog" aria-hidden="true" #createEstadoWebModal>
        <div class="modal-dialog modal-lg" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                <app-estados-web-create-component></app-estados-web-create-component>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    
