/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}


.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.basic-container {
    padding: 5px;
}

.version-info {
    font-size: 8pt;
    float: right;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
